
/*-----@media Query Sizes-----*/

//Media Queries

// $gridXSS is < 25em

.debug-vertical {
    background: none;
    background-position: left top;
    background-image: -webkit-linear-gradient(0deg, transparent, transparent 7pt, rgba(0, 121, 193, 0) 7pt), linear-gradient(90deg, transparent, transparent 7pt, rgba(0, 121, 193, 0.25) 7pt);
    background-image: -moz-linear-gradient(0deg, transparent, transparent 7pt, rgba(0, 121, 193, 0) 7pt), linear-gradient(90deg, transparent, transparent 7pt, rgba(0, 121, 193, 0.25) 7pt);
    background-image: linear-gradient(0deg, transparent, transparent 7pt, rgba(0, 121, 193, 0) 7pt), linear-gradient(90deg, transparent, transparent 7pt, rgba(0, 121, 193, 0.25) 7pt);
    background-size: 8pt 8pt;
}

.debug-baseline {
    background: none;
    background-position: left top;
    background-image: -webkit-linear-gradient(0deg, transparent, transparent 7pt, rgba(0, 121, 193, 0) 7pt), linear-gradient(90deg, transparent, transparent 7pt, rgba(0, 121, 193, 0.25) 7pt);
    background-image: -moz-linear-gradient(0deg, transparent, transparent 7pt, rgba(0, 121, 193, 0.25) 7pt), linear-gradient(90deg, transparent, transparent 7pt, rgba(0, 121, 193, 0) 7pt);
    background-image: linear-gradient(0deg, transparent, transparent 7pt, rgba(0, 121, 193,  0.25) 7pt), linear-gradient(90deg, transparent, transparent 7pt, rgba(0, 121, 193, 0) 7pt);
    background-size: 8pt 8pt;
}


.debug-vertical-baseline {
    background: none;
    background-position: left top;
    background-image: -webkit-linear-gradient(0deg, transparent, transparent 6pt, rgba(0, 121, 193, 0.25) 6pt), linear-gradient(90deg, transparent, transparent 6pt, rgba(0, 121, 193, 0.25) 6pt);
    background-image: -moz-linear-gradient(0deg, transparent, transparent 6pt, rgba(0, 121, 193, 0.25) 6pt), linear-gradient(90deg, transparent, transparent 6pt, rgba(0, 121, 193, 0.25) 6pt);
    background-image: linear-gradient(0deg, transparent, transparent 6pt, rgba(0, 121, 193, 0.25) 6pt), linear-gradient(90deg, transparent, transparent 6pt, rgba(0, 121, 193, 0.25) 6pt);
    background-size: 7pt 7pt;
}



.debug-media {
	&::after {

	    content: 'Grid XXS - Phone S - Fluid grid';
	    position: fixed;
	    bottom: 16px;
	    left: 19px;
	    background: rgba(0, 0, 0, 0.4);
	    color: #fff;
	    padding: 6px;
	    z-index: 1000;
	    border-radius: 3px;
	    font-size: .8em;

			@media (min-width:$gridXS) {
				content: 'Grid XS - Phone L - Fluid grid';
			}

			@media (min-width:$gridS) {
				content: 'Grid S - Tablet S - Fluid grid';
			}

			@media (min-width:$gridM) {
			    content: 'Grid M - Tablet L - Fluid grid';
			}

			@media (min-width:$gridL) {
			   content: 'Grid L - Laptop - 1122px grid width';
			}

			@media (min-width:$gridXL) {
			    content: 'Grid XL - Desktop - 1456px grid width';
			}
	}
}







